In [1]:
import os

os.listdir('/content')

['.config', 'orders.csv', 'users.json', 'restaurants.sql', 'sample_data']

In [2]:
import pandas as pd
import sqlite3

print("All libraries are ready!")

All libraries are ready!

In [3]:


orders = pd.read_csv('/content/orders.csv')

In [4]:
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [5]:
orders.shape

(10000, 6)

In [6]:
orders.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name'],
      dtype='object')

In [7]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         10000 non-null  int64
 1   user_id          10000 non-null  int64
 2   restaurant_id    10000 non-null  int64
 3   order_date       10000 non-null  object
 4   total_amount     10000 non-null  float64
 5   restaurant_name  10000 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 468.9+ KB

In [8]:


users = pd.read_json('/content/users.json')

In [9]:
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [10]:
users.shape

(3000, 4)

In [11]:
users.columns

Index(['user_id', 'name', 'city', 'membership'], dtype='object')

In [12]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     3000 non-null   int64
 1   name        3000 non-null   object
 2   city        3000 non-null   object
 3   membership  3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

In [13]:
import sqlite3

In [14]:
conn = sqlite3.connect('restaurants.db')
cursor = conn.cursor()

In [15]:
with open('/content/restaurants.sql', 'r') as file:
    sql_script = file.read()

In [16]:
cursor.executescript(sql_script)

In [17]:
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

In [18]:
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [19]:
restaurants.shape

(500, 4)

In [20]:
orders.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name'],
      dtype='object')

In [21]:
users.columns

Index(['user_id', 'name', 'city', 'membership'], dtype='object')

In [22]:
orders_users = pd.merge(
    orders,
    users,
    on='user_id',
    how='left'
)

In [23]:
orders_users.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular

In [24]:
orders.shape

(10000, 6)

In [25]:
orders_users.shape

(10000, 9)

In [26]:
orders_users.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name', 'name', 'city', 'membership'],
      dtype='object')

In [27]:
restaurants.columns

Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')

In [28]:
final_df = pd.merge(
    orders_users,
    restaurants,
    on='restaurant_id',
    how='left'
)

In [29]:
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [30]:
orders_users.shape

(10000, 9)

In [31]:
final_df.shape

(10000, 12)

In [32]:
final_df.to_csv(
    'final_food_delivery_dataset.csv',
    index=False
)

In [33]:
import os
os.listdir('/content')

['.config',
 'final_food_delivery_dataset.csv',
 'orders.csv',
 'restaurants.db',
 'users.json',
 'restaurants.sql',
 'sample_data']

In [35]:
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [36]:
gold_df = final_df[final_df['membership'] == 'Gold']

In [39]:
gold_city_revenue = (
    gold_df
    .groupby('city')['amount']
    .sum()
    .sort_values(ascending=False)
)

KeyError: 'Column not found: amount'

In [38]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [40]:
gold_df = final_df[final_df['membership'] == 'Gold']

gold_city_revenue = (
    gold_df
    .groupby('city')['amount']
    .sum()
    .sort_values(ascending=False)
)

gold_city_revenue

KeyError: 'Column not found: amount'

In [41]:
gold_df = final_df[final_df['membership'] == 'Gold']

gold_city_revenue = (
    gold_df
    .groupby('city')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

gold_city_revenue

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [42]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [43]:
cuisine_avg_order = (
    final_df
    .groupby('cuisine')['total_amount']
    .mean()
    .sort_values(ascending=False)
)

In [44]:
cuisine_avg_order

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [45]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [46]:
user_total_spend = (
    final_df
    .groupby('user_id')['total_amount']
    .sum()
)

In [47]:
high_value_users = user_total_spend[user_total_spend > 1000]

In [48]:
high_value_users_count = high_value_users.count()
high_value_users_count

np.int64(2544)

In [49]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [50]:
import pandas as pd

rating_bins = [3.0, 3.5, 4.0, 4.5, 5.0]
rating_labels = [
    '3.0  3.5',
    '3.6  4.0',
    '4.1  4.5',
    '4.6  5.0'
]

final_df['rating_range'] = pd.cut(
    final_df['rating'],
    bins=rating_bins,
    labels=rating_labels,
    include_lowest=True
)

In [51]:
rating_revenue = (
    final_df
    .groupby('rating_range')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

rating_revenue

/tmp/ipython-input-153117822.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby('rating_range')['total_amount']

rating_range
4.6  5.0    2197030.75
3.0  3.5    2136772.70
4.1  4.5    1960326.26
3.6  4.0    1717494.41
Name: total_amount, dtype: float64

In [52]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating', 'rating_range'],
      dtype='object')

In [53]:
gold_df = final_df[final_df['membership'] == 'Gold']

In [54]:
gold_city_avg_order = (
    gold_df
    .groupby('city')['total_amount']
    .mean()
    .sort_values(ascending=False)
)

gold_city_avg_order

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [55]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating', 'rating_range'],
      dtype='object')

In [56]:
restaurant_count = (
    final_df
    .groupby('cuisine')['restaurant_id']
    .nunique()
)

In [57]:
revenue_by_cuisine = (
    final_df
    .groupby('cuisine')['total_amount']
    .sum()
)

In [58]:
cuisine_summary = pd.DataFrame({
    'distinct_restaurants': restaurant_count,
    'total_revenue': revenue_by_cuisine
}).sort_values(
    by=['distinct_restaurants', 'total_revenue'],
    ascending=[True, False]
)

cuisine_summary

         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Italian                   126     2024203.80
Indian                    126     1971412.58
Mexican                   128     2085503.09

In [59]:
total_orders = final_df.shape[0]
total_orders

10000

In [60]:
gold_orders = final_df[final_df['membership'] == 'Gold'].shape[0]
gold_orders

4987

In [61]:
gold_percentage = (gold_orders / total_orders) * 100
round(gold_percentage)

50

In [62]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating', 'rating_range'],
      dtype='object')

In [65]:
restaurant_order_count = (
    final_df
    .groupby('name')['order_id']
    .count()
)

restaurant_avg_order = (
    final_df
    .groupby('name')['total_amount']
    .mean()
)

In [66]:
restaurant_summary = pd.DataFrame({
    'total_orders': restaurant_order_count,
    'avg_order_value': restaurant_avg_order
})

filtered_restaurants = restaurant_summary[
    restaurant_summary['total_orders'] < 20
]

filtered_restaurants.sort_values(
    by='avg_order_value',
    ascending=False
)

           total_orders  avg_order_value
name
User_2429             1          1497.42
User_889              1          1492.63
User_1843             1          1484.24
User_1882             1          1481.84
User_925              1          1476.18
...                 ...              ...
User_2368             1           119.08
User_2583             1           117.62
User_1188             1           109.58
User_1520             1           106.62
User_1880             1           102.22

[2883 rows x 2 columns]

In [68]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating', 'rating_range'],
      dtype='object')

In [70]:
list(final_df.columns)

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating',
 'rating_range']

In [72]:
for col in final_df.columns:
    print(col)

order_id
user_id
restaurant_id
order_date
total_amount
restaurant_name_x
name
city
membership
restaurant_name_y
cuisine
rating
rating_range

In [75]:
list(final_df.columns)

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating',
 'rating_range']

In [77]:
combo_revenue = (
    final_df
    .groupby(['membership', 'cuisine'])['total_amount']
    .sum()
    .sort_values(ascending=False)
)

combo_revenue

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [78]:
final_df['order_date'] = pd.to_datetime(final_df['order_date'])

/tmp/ipython-input-779124022.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df['order_date'] = pd.to_datetime(final_df['order_date'])

In [79]:
final_df['quarter'] = final_df['order_date'].dt.to_period('Q')

In [80]:
quarter_revenue = (
    final_df
    .groupby(final_df['quarter'].dt.quarter)['total_amount']
    .sum()
    .sort_values(ascending=False)
)

quarter_revenue

quarter
3    2037385.10
4    2018263.66
1    2010626.64
2    1945348.72
Name: total_amount, dtype: float64

In [81]:
gold_orders_count = final_df[final_df['membership'] == 'Gold'].shape[0]
gold_orders_count

4987

In [82]:
hyderabad_revenue = final_df[final_df['city'] == 'Hyderabad']['total_amount'].sum()
round(hyderabad_revenue)

1889367

In [83]:
distinct_users = final_df['user_id'].nunique()
distinct_users

2883

In [84]:
gold_avg_order_value = (
    final_df[final_df['membership'] == 'Gold']['total_amount']
    .mean()
)

round(gold_avg_order_value, 2)

np.float64(797.15)

In [85]:
final_df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating', 'rating_range', 'quarter'],
      dtype='object')

In [86]:
orders_high_rating = final_df[final_df['rating'] >= 4.5].shape[0]
orders_high_rating

3374

In [87]:
gold_df = final_df[final_df['membership'] == 'Gold']

In [88]:
gold_city_revenue = (
    gold_df
    .groupby('city')['total_amount']
    .sum()
    .sort_values(ascending=False)
)

gold_city_revenue

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [89]:
top_city = gold_city_revenue.index[0]
top_city

'Chennai'

In [90]:
orders_in_top_city = gold_df[gold_df['city'] == top_city].shape[0]
orders_in_top_city

1337